@import '../../../styles/propertySets.css';

.partnerSection {
  background: linear-gradient(180deg, rgba(27, 31, 37, 0.3) 0%, #1b1f25 100%);
  color: white;
  padding: 120px 0;


  -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);

  @media (--viewportMedium) {
    -webkit-clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0)
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnerTitle {
  font-size: 58px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;
}

.partnerBlocks {
  @media (--viewportMedium) {
    display: flex;
  }
}

.partnerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 60px;

  @media (--viewportMedium) {
    padding-top: 40px;
  }
}

.partnerBlock:not(:last-child) {
  @media (--viewportMedium) {
    padding-right: 40px;
  }
}


.partnerHeading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 1.6em;
}

.partnerDescription {
  font-family: 'Lato';
  text-align: center;
  line-height: 2em;
  overflow-wrap: break-word;
  font-size: 16px;
  letter-spacing: 1px;
}
