
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}


h1, h2, h3, h4, h5, h6
{
	font-family: 'Kanit', sans-serif !important;
}
.sign-login.nav a {
    padding: 0 5px !important;
}
footer li {
    color: #fff;
}
.sign-login.nav {
    margin: 0 !important;
    padding: 0px 2px !important;
    color: #fff;
    margin-right: 15px !important;
}
.second-inner .inner-sec h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.6em;
}
.second-inner .inner-sec p {
    font-size: 18px;
    text-align: center;
    padding: 0px 27px;
    font-weight: 400;
}
.topnav {
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.login-mbl-sec.hide-pc {
    padding-left: 6px;
}
.login-mbl-sec.hide-pc a {
    padding: 0px 5px !important;
}
.main-banner:after {
    content: "";
    background: linear-gradient(180deg,rgba(27,31,37,0) 35%,rgba(35,171,226,0.75) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: bottom;
}
.btn-primary:active:focus
{
	box-shadow:none !important;
}

.topnav {
  background-color: #535B5C;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

span.logo-color {
  color: #23abe2;
}

.me-auto.navbar-nav a {
  padding: 0px 18px !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}

.bg-gray {
  background: #535B5C;
}

.topnav a:hover {
  color: #ffffffb8 !important;
}
.topnav a {
  padding: 0px 11px !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}
.topnav input[type=text]::placeholder {
  color: #535B5C;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: #535B5C;
  max-width: 154px;
}
a.sign-btn {
  color: #fff;
}
.topnav .search-container button {
  float: right;
  padding: 6px 16px;
  margin-top: 5px;
  margin-right: 16px;
  background: #25a7dc;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
}
.mbl-logo-img {
  width: 28px !important;
  height: 26px;
  object-fit: contain;
}

.dropdown-menu
{
  background-color: none;
}
footer {
  background-color: #535B5C;
}
footer img {
  max-width: 140px;
}
p.logo-text {
  margin-bottom: 0;
  color: #fefefe;
}
footer h5 {
  font-size: 16px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140px;
}
footer ul li {
  margin-bottom: 4px;
}

footer a,footer a:hover {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
.social-icons i {
  background-color: #25a7dc;
  font-size: 15px;
  width: 30px;
  height: 30px;
  color:#535B5C;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
}
	.main-banner h1 {
    position: absolute;
    top: 58px;
    text-shadow: 0.06em 0.07em 0.08em RGBA(255,255,255,0);
    width: 80%;
    font-weight: 500;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 66px;
    color: #964026!important;
    letter-spacing: 3px;
    line-height: 0.9em;
}
footer li:last-child span {
    padding: 0px 4px;
}

@media(max-width:767px)
{
footer .container .row {
    margin: 0;
}
body span.navbar-toggler-icon {
    background: none !important;
    position: relative;
    top: -2px;
}
  footer .row>* {
    width: initial !important;
    padding: 15px;
}
.navbar-nav .dropdown-menu {
    position: static;
    padding-left: 10px;
    background: none;
}
  .hide-mbl, .pc-logo-img {
    display: none !important;
}
.topnav input[type=text] {
  padding: 3px;
  font-size: 12px;
  max-width: none;
  position: relative;
  top: -3px;
}
.login-mbl-sec {
    display: flex !important;
    color: #fff;
}
.topnav .search-container button {
  padding: 3px 16px;
  margin-top: 0px;
  font-size: 12px;
}

.topnav {
  min-height: 50px;
  height: 50px;
}
.nav-sec {
  order: 3;
}
.topnav {
  justify-content: space-evenly;
}
.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container {
  width: 70%;
}
.logo-sec {
  width: 15%;
  text-align: center;
}
.nav-sec {
  width: 15%;
}
.navbar-toggler:focus, .navbar-toggler, .navbar-toggler:hover {
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 !important;
}
.topnav a {

    margin-bottom: 10px;
}
div#navbarScroll {
    position: absolute;
    top: 45px;
    background-color: #535b5c;
    right: 24px;
    border-top: 2px solid #25a7dc;
    min-width: 294px;
    z-index: 99;
    height: auto;
    overflow: unset !important;
	transition:none !important;
}

.nav-main.navbar-nav.navbar-nav-scroll {
  padding-top: 14px;
  padding-left: 6px;
      padding-bottom: 10px;

}

body span.navbar-toggler-icon {
  background: none !important;
}
body .collapsed  span.navbar-toggler-icon:after {
  content: "\f0c9" !important;
  font-family: 'FontAwesome';
  color: #25a7dc;
  font-size: 25px;
  position: relative;
  top: 3px;
}

body span.navbar-toggler-icon:after {
  content: "\f00d" !important;
    font-family: 'FontAwesome';
  color: #25a7dc;
  font-size: 25px;
  position: relative;
  top: 3px;
}
.fifth-sec img.third-inner-img {
  width: 80%;
}

.second-inner .container {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0% 80%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0) !important;
    padding-bottom: 60px;
}
.second-inner .btn span {
    display: none;
}
.second-inner .inner-sec p {
    padding: 0px 15px;
    line-height: 2em;
}
.third-sec {
  -webkit-clip-path: polygon(50% 16%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0) !important;
  clip-path: polygon(50% 6%, 100% -4%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% -4%) !important;
  padding-top: 99px !important;
  background-position: top;
}

.fourth-sec {
    -webkit-clip-path: polygon(50% 16%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0) !important;
    clip-path: polygon(50% 8%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0) !important;
    margin-top: -39px !important;
}

.fourth-inner-sec:first-child {
  margin-bottom: 31px;
}
.big-quote h3 {

  width: 84% !important;

}
.fifth-sec .col-12 img.third-inner-img {
  width: 25px;
}
.third-inner .col-12 h3 {
  font-weight: 800;
}
.main-banner h1 {
    top: 35px !important;
    letter-spacing: 2px !important;
    width: 85% !important;
    font-size: 38px;
    line-height: 1.2em;
}
.main-banner img {

  height: 350px !important;
}
.third-inner .col-12 img {
  margin-bottom: 20px;
}
.third-inner .col-12 {
  margin-bottom: 40px;
}
.third-inner h1 {
  font-size: 35px !important;
}
.third-inner {
  text-align: center;
  padding-bottom: 40px;
}
.contact-form, .get-in-touch {
  padding-top: 50px !important;
  
  padding-bottom: 60px !important;
}
footer .row>* {
  width: initial !important;
  padding: 15px;
}
.social-icons {
  margin-bottom: 24px;
}
.fifth-inner-sec {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 26px;
}
.sixth-sec.aos-init.aos-animate {
    -webkit-clip-path: polygon(15% 0%, 80% 0%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0) !important;
    clip-path: polygon(15% 0%, 80% 0%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0) !important;
}
.get-in-touch {
    padding-top: 50px !important;
    padding-bottom: 60px !important;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.sixth-sec h1 {

    font-size: 36px !important;
}
.sixth-inner-sec.get-in-touch {
    padding-left: 5%;
}
.contact-form{

    padding-bottom: 125px !important;
}
div#navbarScroll .dropdown-menu {
    border: 0;
}
}

@media(min-width:768px)
{
	.fifth-sec .main-heading img {
    width: 324px;
}

	.third-inner {

    padding-bottom: 150px;
}
.fifth-inner-sec {
    margin-top: 30px;
}
.fifth-inner {
    padding-top: 49px;
    padding-bottom: 40px;
}

	.topnav input[type=text] {

    max-width: 181px;
}

	.third-inner-sec img {
    margin-bottom: 18px;
    width: 64px;
    height: 64px;
    object-fit: contain;
}
  .topnav .dropdown-menu a:hover {
    background: none;
}
.main-header.scrolled.topnav .dropdown-menu {
    top: 40px !important;
}
.search-container form {
    display: flex;
}
.social-icons {

  height: 120px;

}
.second-inner .btn:hover span {
    right: auto;
    left: auto;
    padding-left: 6px;
    transition: all 300ms ease 0ms;
    opacity: 1;
}
.second-inner .btn span {
    font-size: 16px !important;
    position: absolute;
    left: 0;
    right: 0;
	
    top: 17px;
    opacity: 0;
}
.topnav .dropdown-menu {
    top: 45px !important;
    border-radius: 0;
    background-color: #535b5c;
    border-top: 2px solid #25a7dc !important;
    border: 0;
}


  .hide-pc, .mbl-logo-img {
    display: none !important;
}
.pc-logo-img {
    position: absolute;
    left: 33px;
    top: 18px;
    transition-duration: 0.5s;
    width: 354px;
}
.topnav {
     transition-duration: 0.5s;

    height: 80px;
}
.topnav .search-container {
    position: relative;
    top: -3px;
}
.main-header.scrolled.topnav {
    height: 60px;
    transition-duration: 0.5s;
}
.scrolled img.logo-img.pc-logo-img {
    width: 195px;
    top: 17px;
    transition-duration: 0.5s;
}

.get-in-touch {
  padding-left: 156px !important;
}
}
.second-inner .inner-sec .fa {
    margin: 31px 0px;
    font-size: 64px;
    color: #afafaf;
    font-weight: 400!important;
}

.tag-sec .fa {
    transform: rotate(82deg);
}

.second-inner .inner-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
    margin-top:20px;
}
.second-inner .btn, .second-inner .btn:hover, .second-inner .btn:active, .second-inner .btn:focus {
    padding: 13px 68px;
    background-color: #25a7dc;
    border: 0;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 15px;
    border-width: 8px!important;
    border-color: #23abe2;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Kanit';
	position: relative;
    box-shadow: 0px 30px 110px 14px rgb(152 165 181 / 60%) !important;
}
img.inner-img {
  filter: invert(0.8);
  display: block;
  margin: 25px 0px;
}
a.navbar-brand {
  position: absolute;
  left: 0;
}

.flex-end {
  justify-content: end !important;
}


.main-banner img {
  width: 100%;
  object-fit: cover;
    height: 479.8px;
    min-height: 479.8px;
}

.main-banner  {
position: relative;
}

.second-inner .container {
  background-image: linear-gradient(90deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.23) 50%)!important;
  background-color: #2d2d2d;
  min-height: 450px;
  color: #fff;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0% 80%, 0 0);
  max-width: 1280px;
}
.second-inner .container .row {
  margin: 0;
}
.second-inner .inner-sec {

    text-align: center;
}

.third-inner {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading h1 {
  font-size: 58px;
  font-weight: 500;
}

.main-heading {
  margin-bottom: 35px;
}
.third-inner .main-heading h1 {
    font-size: 58px;
    letter-spacing: 1px;
    text-shadow: 0.06em 0.06em 0.1em rgb(0 0 0 / 60%);
    font-weight: 500;
    color: #000;
}
.third-inner-sec h3 {
    font-weight: 500;
    font-size: 26px;
    color: #000000!important;
    letter-spacing: 2px;
    line-height: 1.4em;
    text-shadow: 0.08em 0.08em 0.1em rgb(0 0 0 / 40%);
}
.third-inner-sec img {
  margin-bottom: 18px;
}
.third-inner-sec {
  text-align: center;
}

.third-inner-sec {
    padding-top: 40px;
}

.third-sec {
  background-image: linear-gradient(180deg,rgba(255,255,255,0.8) 40%,rgba(255,255,255,0.72) 100%),
  url(http://box5399.temp.domains/~stevesi5/freelance/wp-content/uploads/2022/02/blurry-car-copy.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(50% 16%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
  padding-top: 139px;
  position: relative;
}


.third-sec:after {
  content: "";
  height: 85px;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 0%, 0 100%, 0% 60%, 0 0);
  transform: rotate(180deg);
}






.fourth-sec {
  -webkit-clip-path: polygon(50% 13%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
  clip-path: polygon(50% 13%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
  margin-top: 33px;
  background-color: #95979a;
  color: #fff;
  text-align: center;
  min-height: 454px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
  padding-bottom: 160px;
      background: linear-gradient(180deg,rgba(27,31,37,0.3) 0%,#1b1f25cf 100%);
}

.fourth-sec .fourth-inner-sec {
  padding: 30px 50px;
}
.fourth-sec .fourth-inner-sec p {
    font-size: 15px;
    font-weight: 300;
}
.fourth-sec .fourth-inner-sec h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 1.6em;
}
.fourth-sec .main-heading h1 {
    font-weight: 500;
    font-size: 58px;
    color: #ffffff!important;
    letter-spacing: 1px;
    line-height: 1.2em;
    padding-top: 15px;
}




.fifth-sec {
  padding: 60px 0px;
  text-align: center;
}
.fifth-inner-sec p {
  line-height: 31px;
  margin-top: 19px;
  color: #7f7f7f;
}
.big-quote {
  margin-bottom: 48px;
}
.big-quote h3 {
    font-size: 22px;
    color: #e3582d!important;
    letter-spacing: 3px;
    line-height: 1.4em;
    font-weight: 500;
    width: 76%;
    margin: 0 auto;
    margin-top: 38px;
}





.sixth-sec {
  color: #fff;
}
.sixth-sec p {
    font-size: 18px;
    font-weight: 100;
}
.sixth-sec h3 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 3px;
}
.sixth-sec h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
}
.sixth-sec h1 {
    font-weight: 500;
    margin: 0;
    font-size: 52px;
    letter-spacing: 1px;
}
.get-in-touch {
  background-image: linear-gradient(180deg,rgba(35,171,226,0.43) 0%,rgba(0,0,0,0.66) 100%),
  url(http://box5399.temp.domains/~stevesi5/freelance/wp-content/uploads/2022/02/suv-on-mountain.jpg);
  background-color: initial;
  padding-top: 150px;
  padding-right: 60px !important;
  padding-bottom: 180px;
  background-position: center;
}

.contact-form {
  background-color: #23abe2;
  padding-top: 150px;
  padding-right: 10% !important;
  padding-bottom: 150px;
  padding-left: 10% !important;
}

h2.contact_main_title {
  font-weight: 700;
  font-size: 32px;
}

.contact-form form input::placeholder, .contact-form form textarea::placeholder {
  color: #fff;
  font-size: 15px;
}
.contact-form form input, .contact-form form textarea {
    background-color: rgba(0,0,0,0.15);
    border: 0;
    color: #fff;
    width: 100%;
    padding: 4px 4px 10px 18px;
    width: -webkit-fill-available;
}

button.contact_submit {
  color: #000000!important;
  border-color: #ffffff;
  border-radius: 0px;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 600!important;
  text-transform: uppercase!important;
  background-color: #ffffff!important;
  margin-top: 8px!important;
  border: 0;
  padding: 13px 20px;
      float: right;
}
.sixth-sec.aos-init.aos-animate {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0% 80%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0% 80%, 0 0);
}

@media(min-width:1300px)
{
.main-banner img {
    height: 479.8px;
    min-height: 479.8px;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: portrait)  {
.third-inner-sec, .sixth-inner-sec {
    display: block;
    max-width: 100% !important;
    width: 100% !important;
}
.sign-login.hide-mbl.nav {
    display: none;
}
.topnav .search-container {
    top: 0;
}
.nav-main a.hide-pc.nav-link {
    display: block !important;
}
.login-mbl-sec {
    display: flex !important;
    color: #fff;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)  {
.main-banner h1 {
    font-size: 52px;
	    width: 90%;
}
.scrolled img.logo-img.pc-logo-img {
    width: 200px;
 
}
.pc-logo-img {

    width: 226px;
}
.topnav input[type=text] {
  padding: 3px;
  font-size: 12px;
  max-width: none;
  position: relative;
  top: -3px;
}
.topnav .search-container button {
  padding: 3px 16px;
  margin-top: 0px;
  font-size: 12px;
}

.topnav {
  min-height: 50px;
  height: 50px;
}
.nav-sec {
  order: 3;
}
.topnav {
  justify-content: space-evenly;
}
.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container {
  width: 50%;
}
.logo-sec {
  width: 40%;
  text-align: center;
}
.nav-sec {
  width: 10%;
}
.navbar-toggler:focus, .navbar-toggler, .navbar-toggler:hover {
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 !important;
}
.topnav a {

    margin-bottom: 10px;
}
body span.navbar-toggler-icon {
    background: none !important;
}
body span.navbar-toggler-icon:after {
    content: "\f0c9";
    font-family: 'FontAwesome';
    color: #25a7dc;
    font-size: 25px;
    position: relative;
    top: 3px;
}

div#navbarScroll {
    position: absolute;
    top: 45px;
    background-color: #535b5c;
    right: 24px;
    border-top: 2px solid #25a7dc;
    min-width: 294px;
    z-index: 99;
    height: auto;
    overflow: unset !important;
	transition:none !important;
}
a.hide-mbl.nav-link {
    display: none;
}
.bg-gray {
    height: 45px;
}
.pc-logo-img {
    position: static;
    float: left;
    margin-left: 18px;
}

.nav-main.navbar-nav.navbar-nav-scroll {
  padding-top: 14px;
  padding-left: 6px;
      padding-bottom: 10px;

}


.second-inner .container {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 87%, 50% 100%, 50% 100%, 0% 87%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 87%, 50% 100%, 50% 100%, 0% 87%, 0 0);
		padding-bottom: 42px;
}

.third-inner-sec img {
    width: 65px;
    height: 65px;
    object-fit: contain;
}
.third-inner {
    padding-bottom: 46px;
}
.third-sec {
    -webkit-clip-path:  polygon(50% 11%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
    clip-path: polygon(50% 11%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
    padding-top: 160px;
    padding-bottom: 85px;
}

.third-sec:after {
   
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 95%, 50% 0%, 0 95%, 0% 61%, 0 0);
    clip-path: polygon(50% 0%, 100% 0%, 100% 95%, 50% 0%, 0 95%, 0% 61%, 0 0);
}

.fourth-sec {
    -webkit-clip-path: polygon(50% 9%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
    clip-path: polygon(50% 9%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 0);
}
.fifth-sec .container .fifth-inner-sec {
    width: 80%;
    margin: 0 auto;
}
.sixth-sec.aos-init.aos-animate {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 88%, 50% 100%, 50% 100%, 0% 88%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 88%, 50% 100%, 50% 100%, 0% 88%, 0 0);
}
.contact-form {
    background-color: #23abe2;
    padding-top: 40px;
    padding-right: 5% !important;
    padding-bottom: 140px;
    padding-left: 5% !important;
}
.get-in-touch {
    padding-top: 40px;
    padding-right: 5% !important;
    padding-bottom: 40px;
    padding-left: 5% !important;
    background-position: center;
}
}



.fifth-inner-sec .fa {
    color: #b7b7b7;
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
}
.fifth-inner-sec p {
    font-weight: 100;
}